/* Remove the margin / padding / bullets from the file list */
ul.fileList {
    padding: 0;
    margin: 0;
}

ul.fileList li {
    margin:0;
    list-style:none;
}

.fileInputContainer,
.demoContentContainer {
    margin-bottom:10px;
}

::ng-deep .fileInputDemo {
    width:400px;
}