<div class="demoContentContainer">
  <h2>Select a few files</h2>
  <div class="fileInputContainer">
    <nfd-file-input #fileInput containerDivClass="fileInputDemo" (filesRejected)="onFilesRejected($event)" allowedExtensions="pdf,doc,docx,xls,xlsx,json" [maxFileSize]="4194304">
      <ng-container *ngIf="fileInput.filesSelected; then filesSelected else noFilesSelected"></ng-container>
      <!-- If there are selected files, then show them in a list. -->
      <ng-template #filesSelected>
        <ul class="fileList">
          <li *ngFor="let file of fileInput.selectedFiles">
            {{file['name']}}
          </li>
        </ul>
      </ng-template>
      <ng-template #noFilesSelected>
        <!-- If there are no selected files, then tell the user to either 
        click / drag or to drop, depending on whether files are currently
        being dragged. -->
        <ng-container *ngIf="fileInput.dragging; then dragging else notDragging"></ng-container>
        <ng-template #dragging>Drop Files Here</ng-template>
        <ng-template #notDragging>Click or Drag Files Here</ng-template>
      </ng-template>
    </nfd-file-input>
  </div>
  <!-- Show a "Clear Selection" button when files are selected in order to demonstrate the clearSelection functionality.-->
  <input type="button" *ngIf="fileInput.filesSelected" (click)="fileInput.clearSelection()" value="Clear Selection" class="clearButton">
</div>

<h2>Diagnostics Info</h2>
<nfd-diagnostics-box>
  <table>
    <tr>
      <td>Dragging</td>
      <td>{{fileInput.dragging}}</td>
    </tr>
    <tr>
      <td>Files Selected</td>
      <td>{{fileInput.filesSelected}}</td>
    </tr>
    <tr>
      <td>Selected Files</td>
      <td>
        <ng-container *ngIf="fileInput.filesSelected; then diagnosticsSelectedFiles else diagnosticsNoFilesSelected"></ng-container>
        <ng-template #diagnosticsSelectedFiles>
          <ul>
            <li *ngFor="let file of fileInput.selectedFiles">
              {{file['name']}}
            </li>
          </ul>
        </ng-template>
        <ng-template #diagnosticsNoFilesSelected>none</ng-template>
      </td>
    </tr>
    <tr>
      <td>Max File Size</td>
      <td>{{fileInput.maxFileSize}} bytes</td>
    </tr>
    <tr>
      <td>Allowed Extensions</td>
      <td>
        <ul>
          <li *ngFor="let extension of fileInput.allowedExtensionsArray">
            {{extension}}
          </li>
        </ul>
      </td>
    </tr>
  </table>
</nfd-diagnostics-box>