<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
				<img src="assets/logo.svg" alt="@browninglogic/ng-file-drop logo" class="logo">
			</div>
			<div class="col-sm-8 text-center text-md-left">
				<h1>@browninglogic/ng-file-drop</h1>
				<p>Configurable Angular file input component with cross-browser drag &amp; drop functionality</p>
				<p>Scroll down to see it in action!</p>
				<p class="buttons">
					<a class="btn btn-outline-primary btn-lg" href="https://github.com/pfbrowning/ng-file-drop" target="_blank"><i class="fa fa-github fa-lg"></i>  Code on Github</a>
					<a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i class="fa fa-book fa-lg"></i>  Documentation</a>
					<a class="btn btn-outline-primary btn-lg" href="#" (click)="editOnStackBlitz()"><i class="fa fa-bolt fa-lg"></i>  Edit on StackBlitz</a>
        		</p>
			</div>
		</div>

	</div>
</div>

<section class="home">
  <div class="container">
	<nfd-file-input #fileInput allowedExtensions="pdf,doc,docx,xls,xlsx,json" [maxFileSize]="4194304">
		<div class="btnFileDrop" [class.draggingOver]="fileInput.draggingOver">
			<ng-container *ngIf="fileInput.filesSelected; then filesSelected else noFilesSelected"></ng-container>
			<ng-template #filesSelected>
				<ul>
					<li *ngFor="let file of fileInput.selectedFiles">
						{{file['name']}}
					</li>
				</ul>
			</ng-template>
			<ng-template #noFilesSelected>
				<span>Click or Drag Files Here</span>
			</ng-template>
		</div>
	</nfd-file-input>
  </div>
</section>
