<mat-toolbar color="primary">
  <span class="title">Browninglogic File Drop Demo</span>
  <span class="fill-remaining"></span>
  <a mat-raised-button color="primary" href="https://pfbrowning.github.io/ng-file-drop/doc/" target="_blank">Documentation</a>
  <a mat-raised-button color="primary" href="https://github.com/pfbrowning/ng-file-drop" target="_blank">Github</a>
</mat-toolbar>

<div style="text-align:center">
  <img width="200" alt="Angular Logo" src="assets/logo.svg">
  <h1 class="mat-h1">
    Welcome to the Browninglogic File Drop demo!
  </h1>
</div>

<section class="align-center">
  <div class="demo-content-container">
    <div class="file-input-container">
      <nfd-file-input #fileInput containerDivClass="file-input-demo" (filesRejected)="onFilesRejected($event)" allowedExtensions="pdf,doc,docx,xls,xlsx,json" [maxFileSize]="4194304">
        <ng-container *ngIf="fileInput.filesSelected; then filesSelected else noFilesSelected"></ng-container>
        <!-- If there are selected files, then show them in a list. -->
        <ng-template #filesSelected>
          <ul class="file-list">
            <li *ngFor="let file of fileInput.selectedFiles">
              {{file['name']}}
            </li>
          </ul>
        </ng-template>
        <ng-template #noFilesSelected>
          <!-- If there are no selected files, then tell the user to either 
          click / drag or to drop, depending on whether files are currently
          being dragged. -->
          <ng-container *ngIf="fileInput.dragging; then dragging else notDragging"></ng-container>
          <ng-template #dragging>Drop Files Here</ng-template>
          <ng-template #notDragging>Click or Drag Files Here</ng-template>
        </ng-template>
      </nfd-file-input>
    </div>
    <!-- Show a "Clear Selection" button when files are selected in order to demonstrate the clearSelection functionality.-->
    <button type="button" *ngIf="fileInput.filesSelected" mat-raised-button color="primary" (click)="fileInput.clearSelection()">Clear Selection</button>
  </div>


  <mat-card class="diagnostics-card">
    <mat-card-title>Diagnostics Info</mat-card-title>
    <mat-card-content><pre>{{diagnosticsInfo | json}}</pre></mat-card-content>
  </mat-card>
</section>
